<!DOCTYPE html>
<html>

<head>
  <title>Peopleware</title>
</head>

<body>
  <div class="signUpcontainer center_div">
      <div class="intro">
        <h1 class="center_text">Peopleware</h1>
        <h4 class="center_text">Where thoughts get voice</h4>
        <br>
        <p>
          YouTube comments were not meant to ask questions and wait for answers. That's why we craeted Peopleware, a real time communiction via video sharing platform where you can ask questions and get answers in interactive forms.
        </p>
        <br>
        <p>With Peopleware, you can:
          <ul>
            <li>ask questons via text or video and get answers in interactive forms</li>
            <li>start an interactive campaign to showcase you idea to the world</li>
            <li>watch or attend live conferences to get insights into other people's thoughts</li>
          </ul>
        </p>
        <br>
        <h4 align="center">Get Started Now</h4>
      </div>


      <div class="signUp">
        <h3>Sign Up With Username</h3>
        <form name="signUpForm" ng-submit="signup()" novalidate>
          <div class="form-group">
            <label>Username</label>
            <input type="email"
              name="username"
              class="form-control"
              placeholder="Enter your username"
              ng-model="signupForm.username"
              required />
            <div class="alert alert-danger" ng-show="signUpForm.Email.$error.email">
              <h6>Plese enter a valid email address</h6>
            </div>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password"
              name="password"
              class="form-control"
              placeholder="Enter your password"
              ng-model="signupForm.password"
              required />
          </div>


          <button type="submit" class="btn btn-primary" ng-disabled="signUpForm.$invalid">Sign Up</button>

          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">Remember Me</label>
            </div>
          </div>

          <h3>Or</h3>
          <span>
            <button type="button" class="btn btn-danger">Sign in with Google</button>
            <button type="button" class="btn btn-primary">Sign in with Facebook</button>
          </span>
          <h4>Already have an account?<a href="/#/login"> Log In</a></h4>
        </form>

      </div>

  </div>
</body>

</html>
